<h1 class="page_top">Popular Bleeptags right now:</h1>

<% @bleeptags.sort_by { |b| -b.bleeps.count }.each do |bleeptag| %>
    <p> <%= link_to bleeptag.title, bleeptag_path(bleeptag.id) %> : <%= bleeptag.bleeps.count %> bleeps right now</p>
<% end %>
